<div class="container-fluid">
    <div class="row">
        <div class="col-md-3">
            <!--<button *ngIf="c==3" (click)="onSave()">save</button>-->
            <button *ngIf="c==0 && edit==0" class="btn btn-info" (click)="onAddButtnClick()">ADD </button>
            <button *ngIf="edit==1" class="btn btn-warning" (click)="onEditBtnClick()">Edit</button>
            <button *ngIf="edit==1"  class="btn btn-danger" (click)="onDeleteBtnClick()">Delete</button>
            <button *ngIf="edit==1"  class="btn btn-secondary" (click)="onCancelBtnClick()">Cancel</button>

            <button *ngIf="c==1 && no_display_add_group==0" class="btn btn-success" (click)="onAddUserButtonClick()">ADD</button>
            <button *ngIf="c==1 && no_display_add_group==0" class="btn btn-danger" (click)="onClickButtnClose()">CLOSE</button>
            <button *ngIf="delete==1" (click)="onDeleteBtnClick()">DELETE</button>
        </div>
        <div class="col-md-2">
            <input *ngIf="c==1 && no_display_add_group==0" class="form-control" type="text" placeholder="Name" [(ngModel)]="user.first">

        </div>
        <div class="col-md-2">

            <input *ngIf="c==1 && no_display_add_group==0" class="form-control" type="text" placeholder="LastName" [(ngModel)]="user.last">
        </div>
    </div>

        <div class="row">
            <div class="col-md-6">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th scope="col">first</th>
                        <th scope="col">last</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let user of users" (click)="onRowClick(user)">
                        <td  *ngIf=" user!=user2" >{{user.first}}</td>
                        <td *ngIf=" user==user2 && edit==1" ><input type="text" class="form-control" [(ngModel)]="user.first"></td>
                        <td *ngIf=" user!=user2">{{user.last}}</td>
                        <td *ngIf=" user==user2 && edit==1 "><input type="text" class="form-control" [(ngModel)]="user.last"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

</div>
<!--<input type="text" [(ngModel)]="name">-->
<!--<input type="text" [(ngModel)]="name">-->

